{% extends 'base.html.twig' %}

{% block title %}Editar Produto{% endblock %}
{% block toolbar %}
  <a class="btn btn-secondary" href="{{ actions.back }}" role="button">Voltar para Produtos</a>
{% endblock %}

{% block body %}
<form action="{{ actions.save }}" method="POST">
  <div class="form-group">
    <label for="code">Código</label>
    <input type="text" class="form-control" id="code" name="code" placeholder="Código" value="{{ product.code }}" required>
  </div>
  <div class="form-group">
    <label for="name">Nome</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Nome" value="{{ product.name }}" required>
  </div>
  <div class="form-group">
    <label for="price">Preço (R$)</label>
    <input type="number" class="form-control" id="price" name="price" placeholder="Preço (R$)" value="{{ product.price }}" required step="0.01" min="0.01">
  </div>
  <button type="submit" class="btn btn-primary">Salvar</button>
</form>
{% endblock %}
