{% extends 'base.html.twig' %}

{% block title %}Pedidos{% endblock %}
{% block toolbar %}
  <a class="btn btn-success" href="{{ actions.create }}" role="button">Novo pedido</a>
{% endblock %}

{% block body %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Número</th>
      <th scope="col">Cliente</th>
      <th scope="col">Data de emissão</th>
      <th scope="col">Valor total</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for order in orders %}
      <tr>
        <td>{{ order.number }}</td>
        <td>{{ order.customerName }}</td>
        <td>{{ order.formattedIssuedAt }}</td>
        <td>{{ order.formattedTotalPrice }}</td>
        <td style="width: 8em;text-align: right;">
          <div class="btn-group" role="group" aria-label="Ações">
            <a role="button" href="{{ order.actions.delete }}" class="btn btn-danger btn-sm ce-delete-confirm">Excluir</a>
          </div>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
