{% extends 'base.html.twig' %}

{% block title %}Pessoas{% endblock %}
{% block toolbar %}
  <a class="btn btn-success" href="{{ actions.create }}" role="button">Nova Pessoa</a>
{% endblock %}

{% block body %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Data de Nascimento</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for person in persons %}
      <tr>
        <td>{{ person.name }}</td>
        <td>{{ person.formattedBirthdate }}</td>
        <td style="width: 8em;text-align: right;">
          <div class="btn-group" role="group" aria-label="Ações">
            <a role="button" href="{{ person.actions.edit }}" class="btn btn-primary btn-sm">Editar</a>
            <a role="button" href="{{ person.actions.delete }}" class="btn btn-danger btn-sm ce-delete-confirm">Excluir</a>
          </div>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
